@import "bootstrap/dist/css/bootstrap.min.css";
@import './login.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './navbar.css';
@import './card.css';
@import './header.css';
@import './icon.css';
@import './footer.css';
@import './buttons.css';
@import './product-form-create.css';

:root{
    ---ColorPrimary:rgba(0, 126, 167, 0.829);
    ---ColorSecondary:rgb(192,192,192);
    ---Colorbackground:rgb(251,251,251);

}

*{
    font-family: 'Montserrat', sans-serif;
}

a{
    color:white;
}




/* ---ColorPrimary:rgba(0, 33, 71, 0.815); */


.product-details {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px; /* Limita la larghezza della tabella */
    margin: 0 auto; /* Centra la tabella orizzontalmente */
}

.product-details td {
    padding: 10px;
    border: 1px solid #ddd; /* Aggiunge una sottile linea di separazione tra le celle */
    text-align: left;
}

.product-details tr:nth-child(even) {
    background-color: #f2f2f2; /* Colora le righe pari in grigio chiaro */
}

.product-details tr:hover {
    background-color: #ddd; /* Cambia il colore delle righe al passaggio del mouse */
}

.product-details td:first-child {
    font-weight: bold; /* Rendi il primo elemento in grassetto */
}

.product-details td:last-child {
    text-align: right; /* Allinea l'ultimo elemento a destra */
}

