a{
    text-decoration: none;
}

.card-front img{
    object-fit: cover;

}

.card {
  --bs-card-border-width: none;
  --bs-card-border-color: none ;
  --bs-card-border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
    width: 390px;
    height: 490px;
    perspective: 1000px;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    /* position: relative; */
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card-front {
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:   var(---ColorSecondary);
    color: #fff;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }

  .card-back {
    background: rgb(149,221,212);
background: linear-gradient(347deg, rgba(149,221,212,1) 0%, rgba(149,221,212,0.87718837535014) 7%, rgba(149,221,212,0.87718837535014) 28%, rgba(255,255,255,0.711922268907563) 45%, rgb(149, 203, 221) 88%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 10px solid  white; */
    border-radius: 10px;
    justify-items: center;
    font-size: 24px;
    transform: rotateY(180deg);

  }


  /* .card-back {
    background-image: url('https://img.freepik.com/free-photo/close-up-pastel-blue-colored-paper-banner_23-2147981568.jpg?w=360&t=st=1695220502~exp=1695221102~hmac=3542a5258ff226cbf2a592a26e4608976da8fc89b6e89019d07bcca95ac6a55f');
    background-size: cover;
    background-position: center;
    color: #fff;

} */


.card-back {
    /* ... altre proprietà CSS ... */
    text-align: center; /* Centra il testo orizzontalmente */
}

.card-back h3 {
    font-size: 28px; /* Aumenta la dimensione del titolo */
}

.card-back p {
    margin: 10px 0; /* Aggiungi spazi tra i paragrafi */
    font-size: 18px; /* Imposta la dimensione del testo dei paragrafi */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiungi un'ombra al testo */
    /* ... altre proprietà CSS ... */
}

.card-back {
    /* ... altre proprietà CSS ... */
    color: #ffffff; /* Cambia il colore del testo principale */
}

.card-back p.card-text {
    color: #000000; /* Cambia il colore del testo del paragrafo */
}

.card-back a {
    color: #ff6600; /* Cambia il colore del link */
    /* ... altre proprietà CSS ... */
}

.card-back {
    /* ... altre proprietà CSS ... */
    transition: background-color 0.3s ease-in-out; /* Aggiungi una transizione al cambio di sfondo */
}


.img-card{
  border-radius: 10px;
}

.google{
  position:absolute;
  top:30%;
  right:220%;
}
