

a{
    text-decoration: none;
}
h5{
    color: black !important
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    /* z-index: 99; */
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.card p {
    font-size: 1rem;
    color: #777;
}






