.header-custom{
    height: 100vh;

    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation:  1s infinite alternate;
   height: 500px;
   transition: background-color 0.3s ease;




}
.contenitore {
    position: relative;
    background-color: rgba(255, 255, 255, 0.897);
   width: 100%;
    z-index: 99;
    /* height: 75vh; */
    align-items: center;

}


.video-bg{
width: 100%;
height: 100vh;
position: fixed;
top: 0;
left: 0;
object-fit: cover;
opacity: 0.8;
z-index: 0;
transition: 0.6s;
}


.container-header{
background-color:white;
}





.section{

position: relative;
z-index: 1;
width: 100%;
height: 100vh;

}

.title{
text-align: center;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
margin-right: 25%;
transform: scale(1);
transition: all 1s cubic-bezier(.215, .61, .355, 1);
opacity: 0;
color: rgb(255, 255, 255);
-webkit-text-stroke: 1px  rgba(109, 109, 109, 0.753);
font-size: 60px;
font-weight: 700;
font-style: italic;

}



.section.in-page .title{
transform: scale(1.2);
opacity: 1;
}



/* frasi centrali header */
.centered-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

color: white;
padding: 10px;
text-align: center;
}


@media (min-width:320px) and (max-width:479px)  {
    .title{
        font-size:20px;
        padding: 50px;
    }

    .section{
        height: 50%;
    }


}

@media (min-width:320px) and (max-width:479px)  {
    .section{
        width: 50vw;
        height: 75vh;
    }
}

@media (min-width: 800px)  {
    .title{
        font-size: 30px;
    }
}

