





  #neubar {
    background: var(---ColorPrimary);
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
  }

  .nav-item .active {
    border-radius: 6px;
    background: var(---ColorPrimary);
    box-shadow:  4px 4px 8px var(---ColorSecondary),
                 -4px -4px 8px var(---ColorSecondary);
  }
  #neubar .dropdown-menu a:hover {
    color: var()
  }
  #neubar .nav-item {
    margin : auto 4px;
  }
  #neubar a {
    color: var(---ColorSecondary);

    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {

    background : var(---ColorPrimary)
  }
  a.navbar-brand {
    color: var(---ColorSecondary);
  }





